/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --Inter: "Inter-Varible";
  --PressStart2P: "PressStart2P";
  --font-weight_h: 700;
  --font-weight_p: 400;
  --white: #fff;
  --contour-color: #000;
  --animation-fill-color: red;
  --fon: url(../images/image.png)
}
